<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="com.batterycharging.animation.chargingeffect.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BatteryAnimation"
        tools:targetApi="31">
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.GuideScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.SetCreatedAnimationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.CreatedAnimationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.CreateNewAnimationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.ChargerDisconnectDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.ChargerConnectDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.BatteryLowDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.BatteryFullDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.batterycharging.animation.chargingeffect.BroadCastReceivers.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.batterycharging.animation.chargingeffect.Services.BatteryService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

<!--&lt;!&ndash;           &ndash;&gt;-->


<!--&lt;!&ndash;            &lt;!&ndash; <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; android:value="TYPE_APPLICATION_OVERLAY"/> &ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;            &lt;!&ndash; android:foregroundServiceType="specialUse" &ndash;&gt;&ndash;&gt;-->
<!--        </service>-->

<!--        <service android:name="com.batterycharging.animation.chargingeffect.Services.BatteryService" android:foregroundServiceType="specialUse">-->
<!--            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"-->
<!--                android:value="TYPE_APPLICATION_OVERLAY"/>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name="com.batterycharging.animation.chargingeffect.Services.BatteryService"-->
<!--            android:foregroundServiceType="specialUse"-->
<!--            android:stopWithTask="true">-->

<!--            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"-->
<!--                android:foregroundServiceType="specialUse"/>-->
<!--        </service>-->

        <service
            android:name="com.batterycharging.animation.chargingeffect.FireBaseMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.ChargingAlarm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.SetWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.WallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.SetAnimationAcivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.SubAnimationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.AnimationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.EnableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.batterycharging.animation.chargingeffect.Activities.LauncherScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>